@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
/* GENERAL */
html {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

body {
  font-size: 13px;
  line-height: 1.4;
}

#project-process, #proj-overview, #masterhead, .welcome_box {
  margin-right: 4.8rem;
}

/* TEXT */
#home-button, ul, h1, h2, h3 {
  font-family: 'Lato', sans-serif;
}
#home-button #og-home-button:hover, ul #og-home-button:hover, h1 #og-home-button:hover, h2 #og-home-button:hover, h3 #og-home-button:hover {
  background-color: #FF8E6B;
}

p {
  font-family: Garamond, serif;
  line-height: 1.3em;
}

/* HOMEPAGE */
.welcome_box h1 {
  font: italic bold 50px Georgia, Serif;
  padding-top: 5rem;
}

/* LINE */
#line {
  position: absolute;
  top: -28rem;
  right: 310px;
}
#line img {
  height: auto;
  width: 50px;
  bottom: 0px;
}
#line :hover {
  transform: translateY(30.7rem);
  transition-duration: 1s;
}

/* NAV */
#masterhead {
  border-bottom: 2px solid;
  padding-bottom: 3rem;
  margin-top: 2rem;
  margin-left: 0rem;
  margin-right: 0rem;
}
#masterhead #home-button {
  float: left;
  padding-left: 2.2rem;
}
#masterhead #home-button #og-home-button {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 0.6rem 1.2rem 0.6rem 1.2rem;
}
#masterhead #home-button #og-home-button:hover {
  background-color: #FF8E6B;
}

/*
#masterhead_gallery {
   border-bottom: 2px solid;
   padding: 1.5rem 0rem 3rem 0rem;
   margin: 0rem 5.3rem 0rem 5.3rem;

   #home-button{
      float:left;
      padding-left: 2.2rem;

      #og-home-button{
         text-decoration: none;
         color: black;
         background-color: white;
         font-weight: bold;
         padding: 0.6rem 1.2rem 0.6rem 1.2rem;
      }
      #og-home-button:hover {
         background-color: #FF8E6B;
      }
   }
}
*/
#nav {
  padding-left: 2.1rem;
  padding-right: 2.1rem;
  float: right;
}
#nav .nav-link {
  display: inline-block;
}
#nav .nav-link a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 0.6rem 0.8rem 0.6rem 0.8rem;
}
#nav .nav-link a:hover {
  background-color: #FF8E6B;
}
#nav .nav-link:hover #subnav {
  display: block;
  width: 100%;
}

#alt-home-button {
  visibility: hidden;
  position: absolute;
}

#subnav {
  position: absolute;
  padding-left: 0rem;
  padding-top: .8rem;
  display: none;
  list-style: none;
}
#subnav .subnav-link {
  margin-top: 1.1rem;
}

.active > a {
  background-color: #FF8E6B;
}

/* HOMEPAGE*/
#fishies_1, #fishies_2 {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 70%;
}

#fishies_1 {
  position: absolute;
  top: 7rem;
  -webkit-animation: swim1 4s linear infinite alternate;
  -moz-animation: swim1 4s linear infinite alternate;
  -o-animation: swim1 4s linear infinite alternate;
  animation: swim1 4s linear infinite alternate;
}
#fishies_1 img {
  width: 5rem;
  clear: both;
  padding: 3.65rem;
}

#fishies_2 {
  position: absolute;
  top: 11.35rem;
  -webkit-animation: swim2 3s linear infinite alternate;
  -moz-animation: swim2 3s linear infinite alternate;
  -o-animation: swim2 3s linear infinite alternate;
  animation: swim2 3s linear infinite alternate;
}
#fishies_2 img {
  width: 10rem;
  clear: both;
  padding: 3rem;
}

.flip img {
  -webkit-animation: flip 6s steps(2, start) infinite;
  -moz-animation: flip 6s steps(2, start) infinite;
  -o-animation: flip 6s steps(2, start) infinite;
  animation: flip 6s steps(2, start) infinite;
}

@keyframes swim1 {
  from {
    margin-left: 10%;
    width: 16%;
  }
  to {
    margin-left: 85%;
  }
}
@keyframes swim2 {
  from {
    margin-left: -10%;
    width: 24%;
  }
  to {
    margin-left: 100%;
    width: 24%;
  }
}
@keyframes flip {
  from {
    transform: rotateY(-180deg);
  }
  to {
    transform: rotateY(180deg);
  }
}
/* GALLERY PAGES */
.line {
  width: 100vw;
  height: 3rem;
  color: black;
}

.container {
  margin-top: 2rem;
}

.pages {
  display: none;
}

a#cw:link {
  background-image: url("../img/CultureShow_Banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

a#sa:link {
  background-image: url("../img/cooking.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 75% auto;
  background-position: center;
}

a#cd:link {
  background-image: url("../img/calli.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.categories {
  width: 74%;
  margin-right: 13%;
  margin-left: 13%;
}
.categories h1 {
  font: 42px "Open Sans" sans-serif;
}
.categories h1 a {
  padding-top: 10%;
  padding-bottom: 20%;
  text-decoration: none;
  color: white;
  display: block;
  padding-left: 66%;
  text-shadow: 2px 2px 10px #222;
}

a#cw:hover, a#sa:hover, a#cd:hover {
  opacity: 0.6;
}

/* CSA PAGE */
#proj-overview {
  padding-bottom: 3rem;
}
#proj-overview img {
  width: 100%;
}
#proj-overview div {
  position: absolute;
  right: 4.8rem;
  bottom: 2rem;
  width: 26rem;
  padding: 1rem;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.75);
}

#project-process {
  clear: both;
  padding-bottom: 16rem;
}
#project-process #project-process-sub {
  padding-left: 4.8rem;
}
#project-process #project-process-sub div {
  float: left;
  margin-right: 1.8rem;
  width: 23rem;
}

/* NUSASE and COURSEWORK PAGE */
.margin, .grey-box {
  margin-top: 5rem;
  margin-left: 4.8rem;
  margin-right: 4.8rem;
}

.grey-box {
  background-color: #efefef;
  padding: 2rem 2rem 0rem 4rem;
}
.grey-box .grey-box-headers {
  float: left;
  width: 20rem;
}
.grey-box p {
  float: left;
  width: 30rem;
  padding-left: 8rem;
}
.grey-box ul {
  float: left;
  width: 30rem;
  padding-left: 8rem;
}
.grey-box ul li {
  list-style: none;
  font-weight: bold;
}

.project-series {
  clear: both;
  padding-top: 3rem;
}
.project-series .project-series-text {
  float: left;
}
.project-series .project-series-text .project-series-text ul {
  list-style: none;
  font-weight: bold;
}

/* NUSASE and COURSEWORK IMAGES */
.project-series-img {
  width: 20rem;
  height: 20rem;
  float: left;
  background-image: url(../img/placeholder1.png);
}
.project-series-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

/* ABOUT ME */
.grey-box-contact, .grey-box-contact-2 {
  background-color: #efefef;
  margin-top: 0rem;
  margin-left: 0rem;
  margin-right: 0rem;
  padding: 2rem 7% 3rem 7%;
}
.grey-box-contact .profile, .grey-box-contact-2 .profile {
  background-image: url(../img/profile.jpg);
  background-repeat: no-repeat;
  background-size: 85%;
  background-position: center;
  border-radius: 50%;
  behavior: url(PIE.htc);
  /* remove if you don't care about IE8 */
  border: 5px solid red;
  width: 20rem;
  height: 20rem;
  float: none;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1rem;
}
.grey-box-contact .profile-intro, .grey-box-contact-2 .profile-intro {
  position: static;
  padding-top: 3rem;
  top: 41rem;
}
.grey-box-contact .profile-intro p, .grey-box-contact-2 .profile-intro p {
  width: 20rem;
  padding-bottom: 1rem;
  margin: auto;
}
.grey-box-contact .icon, .grey-box-contact-2 .icon {
  padding-top: 1rem;
  width: 20rem;
  margin: auto;
}
.grey-box-contact .icon a > img, .grey-box-contact-2 .icon a > img {
  width: 16%;
  margin: auto;
}

.grey-box-contact {
  height: 72vh;
}

.grey-box-contact-2 {
  height: 82vh;
}

form {
  width: 80%;
  margin: auto;
  margin-top: 1rem;
  font-size: 0.9rem;
}
form input, form textarea {
  width: 100%;
  padding: .4rem 0 .4rem 1rem;
  margin-bottom: .5rem;
}
form #form-button {
  width: 30%;
}

.icon img {
  width: 80%;
}
.icon img:hover {
  -webkit-box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.75);
  -o-box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.75);
}
.icon img:active {
  -webkit-box-shadow: -2px -4px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px -4px 4px 0px rgba(0, 0, 0, 0.75);
  -o-box-shadow: -2px -4px 4px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -2px -4px 4px 0px rgba(0, 0, 0, 0.75);
}

.profile-intro > p > a {
  font-family: "Lato",sans-serif;
  color: #b04;
}

.profile-intro > p > a:hover {
  color: red;
}

/* FOOTER */
#footer {
  clear: both;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 2rem;
  background-color: #efefef;
  padding: 0.5rem 0rem 0.5rem 4.8rem;
}

/* MEDIA QUERIES */
#alt-home-button {
  visibility: visible;
  position: static;
}

#home-button, #minimize {
  visibility: hidden;
  position: absolute;
}

/*

@media screen and (min-width: 992px) {

   .grey-box-contact {
      height: 45rem;

      form {
         clear:left;
         width: 26rem;
         margin-top: 4rem;
         margin-right: 3rem;
      }

      .icon {
         margin-top: 5rem;
      }

      .profile {
         width:18rem;
         height:18rem;
      }

      .profile-intro{
         position: static;

         p {
            float: left;
            width: 45%;
            padding-right: 0;
         }
      }
   }
}
*/
@media screen and (min-width: 768px) {
  #alt-home-button, #minimize {
    visibility: visible;
    position: static;
  }

  #un-minimize, #alt-home-button, #home-button > span {
    visibility: hidden;
    position: absolute;
  }

  #masterhead {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  #masterhead #home-button {
    visibility: visible;
    position: absolute;
  }

  .welcome_box h1 {
    font: italic bold 70px Georgia, Serif;
  }

  #fishies_1, #fishies_2 {
    animation-duration: 6s;
  }

  .flip img {
    animation-duration: 12s;
  }

  @keyframes swim1 {
    from {
      margin-left: -40%;
    }
    to {
      margin-left: 70%;
    }
  }
  @keyframes swim2 {
    from {
      margin-left: -60%;
    }
    to {
      margin-left: 80%;
    }
  }
  #fishies_1 img {
    width: 7rem;
  }

  #fishies_2 img {
    width: 12rem;
  }

  .grey-box-contact, .grey-box-contact-2 {
    margin-left: 2rem;
    margin-right: 2rem;
    padding-left: 0rem;
  }
  .grey-box-contact .profile-intro, .grey-box-contact-2 .profile-intro {
    position: static;
    top: 35rem;
  }
  .grey-box-contact .profile-intro p, .grey-box-contact-2 .profile-intro p {
    clear: both;
    width: 28rem;
  }
  .grey-box-contact form, .grey-box-contact-2 form {
    width: 30rem;
  }
  .grey-box-contact .icon, .grey-box-contact-2 .icon {
    margin-top: 0rem;
    width: 20rem;
  }
  .grey-box-contact .nav-link a, .grey-box-contact-2 .nav-link a {
    padding: .3rem 0.65rem .3rem 0.65rem;
  }

  .grey-box-contact {
    height: 69vh;
  }
}
@media screen and (min-width: 768px) and (min-width: 992px) {
  .grey-box-contact, .grey-box-contact-2 {
    margin-left: 4.8rem;
    margin-right: 4.8rem;
  }
  .grey-box-contact .profile, .grey-box-contact-2 .profile {
    width: 18rem;
    height: 18rem;
    float: left;
    margin-left: 15rem;
  }
  .grey-box-contact .profile-intro, .grey-box-contact-2 .profile-intro {
    width: 6rem;
    float: left;
    margin-left: 5rem;
  }
  .grey-box-contact .profile-intro p, .grey-box-contact-2 .profile-intro p {
    width: 20rem;
  }
  .grey-box-contact form, .grey-box-contact-2 form {
    width: 25rem;
    margin-left: 8rem;
    float: left;
  }
  .grey-box-contact .icon, .grey-box-contact-2 .icon {
    float: left;
  }

  .grey-box-contact {
    height: 50vh;
  }

  .grey-box-contact-2 {
    height: 62vh;
  }

  #masterhead {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  #masterhead #home-button a, #masterhead #home-button span {
    visibility: visible;
    position: relative;
  }

  .welcome_box h1 {
    font: italic bold 80px Georgia, Serif;
  }

  #fishies_1, #fishies_2 {
    animation-duration: 7s;
  }
  #fishies_1 img, #fishies_2 img {
    width: 14rem;
  }

  .flip img {
    animation-duration: 14s;
  }
}
