@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

/* GENERAL */

html {
   margin:0;
   padding:0;
   font-size: 15px;
}

body {
   font-size: 15px;
   line-height: 1.4
}

#project-process, #proj-overview, #masterhead, .welcome_box{
   margin-left: 4.8rem;
   margin-right: 4.8rem;
}

/* TEXT */

#home-button, ul, h1, h2, h3 {
   font-family: 'Lato', sans-serif;

   #og-home-button:hover {
      background-color: #FF8E6B;
   }
}

p {
   font-family: Garamond, serif;
   line-height: 1.3em;
}

/* HOMEPAGE */

.welcome_box h1 {
  font: italic bold 50px Georgia, Serif;
  padding-top: 5rem;
}

/* LINE */

#line {
   position: absolute;
   top:-28rem;
   right: 310px;

   img{
      height: auto;
      width: 50px;
      bottom:0px;
   }

   :hover{
      transform: translateY(30.7rem);
      transition-duration: 1s;
   }
}


/* NAV */

#masterhead {
   border-bottom: 2px solid;
   padding-bottom: 3rem;
   margin-top: 2rem;
   margin-left: 0rem;
   margin-right: 0rem;

   #home-button{
      float:left;
      padding-left: 2.2rem;

      #og-home-button{
         text-decoration: none;
         color: black;
         background-color: white;
         font-weight: bold;
         padding: 0.6rem 1.2rem 0.6rem 1.2rem;
      }
      #og-home-button:hover {
         background-color: #FF8E6B;
      }
   }
}


/*
#masterhead_gallery {
   border-bottom: 2px solid;
   padding: 1.5rem 0rem 3rem 0rem;
   margin: 0rem 5.3rem 0rem 5.3rem;

   #home-button{
      float:left;
      padding-left: 2.2rem;

      #og-home-button{
         text-decoration: none;
         color: black;
         background-color: white;
         font-weight: bold;
         padding: 0.6rem 1.2rem 0.6rem 1.2rem;
      }
      #og-home-button:hover {
         background-color: #FF8E6B;
      }
   }
}
*/

#nav {
   padding-left: 2.1rem;
   padding-right: 2.1rem;
   float:right;

   .nav-link {
      display:inline-block;

      a {
         text-decoration: none;
         color: black;
         background-color: white;
         font-weight: bold;
         padding: 0.6rem 0.8rem 0.6rem 0.8rem;
      }
      a:hover {
         background-color: #FF8E6B;
      }
   }

   .nav-link:hover #subnav{
      display:block;
   }
}

#alt-home-button {
   visibility: hidden;
   position: absolute;
}

#subnav {
   position: absolute;
   padding-left: 0rem;
   padding-top: .8rem;
   display:none;
   list-style: none;

   .subnav-link {
      margin-top: 1.1rem;
   }
}


/* HOMEPAGE*/

#fishies_1, #fishies_2 {
   margin-left: auto;
   margin-right: auto;
   width: 80%;
   height: 70%;
}

#fishies_1 {
   position: absolute;
   top: 7rem;
   -webkit-animation:  swim1 4s linear infinite alternate;
   -moz-animation:     swim1 4s linear infinite alternate;
   -o-animation:       swim1 4s linear infinite alternate;
   animation:          swim1 4s linear infinite alternate;

   img{
      width: 5rem;
      clear:both;
      padding:3.65rem;
   }
}

#fishies_2 {
   position: absolute;
   top: 11.35rem;
   -webkit-animation:  swim2 3s linear infinite alternate;
   -moz-animation:     swim2 3s linear infinite alternate;
   -o-animation:       swim2 3s linear infinite alternate;
   animation:          swim2 3s linear infinite alternate;

   img{
      width: 10rem;
      clear:both;
      padding:3rem;
   }
}


.flip img {
   -webkit-animation:  flip 6s steps(2,start) infinite;
   -moz-animation:     flip 6s steps(2,start) infinite;
   -o-animation:       flip 6s steps(2,start) infinite;
   animation:          flip 6s steps(2,start) infinite;
}

@keyframes swim1 {
   from { margin-left: 10%; width: 16%;}
   to { margin-left: 85%;}
}

@keyframes swim2 {
   from { margin-left: -10%; width: 24%; }
   to { margin-left: 100%; width: 24%; }
}

@keyframes flip {
   from { transform: rotateY(-180deg); }
   to { transform: rotateY(180deg); }
}

/* GALLERY PAGES */

.gallery_catagories {
   border: solid black 2px;
   height:40vh;
   margin-right: 5.4rem;
   margin-left: 5.4rem;
   clear:both;

   img {
      width:100%;
      object-fit: cover;
      opacity: .1;
   }
}

/* CSA PAGE */

#proj-overview {
   padding-bottom: 3rem;

   img{
      width:100%;
   }

   div {
      position:absolute;
      right: 4.8rem;
      bottom: 2rem;
      width: 26rem;
      padding: 1rem;
      z-index: 2;
      background-color:rgba(255,255,255, .75);
   }
}


#project-process {
   clear: both;
   padding-bottom: 16rem;

   #project-process-sub {
      padding-left: 4.8rem;

      div {
         float: left;
         margin-right:1.8rem;
         width: 23rem;
      }
   }
}


/* NUSASE and COURSEWORK PAGE */

.margin, .grey-box{
   margin-top: 5rem;
   margin-left: 4.8rem;
   margin-right: 4.8rem;
}

.grey-box{
   background-color: #efefef;
   padding: 2rem 2rem 0rem 4rem;

   .grey-box-headers{
      float:left;
      width:20rem;
   }

   p{
      float:left;
      width:30rem;
      padding-left: 8rem;
   }

   ul{
      float:left;
      width:30rem;
      padding-left: 8rem;

      li {
         list-style: none;
         font-weight: bold;
      }
   }
}

.project-series{
   clear:both;
   padding-top: 3rem;

   .project-series-text {
      float:left;

      .project-series-text ul{
         list-style: none;
         font-weight: bold;
      }
   }
}

/* NUSASE and COURSEWORK IMAGES */

.project-series-img {
   width:20rem;
   height:20rem;
   float:left;
   background-image: url(../img/placeholder1.png);

   img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow:hidden;
   }
}

/* GRAPHIC */

.thumb {
   margin-bottom: 2rem;
}

.section-label {
   font-size: 1.5rem;
   margin-top: 5rem;
   margin-bottom: 2rem;

}


/* CONTACT ME */


.grey-box-contact {
   background-color: #efefef;
   margin-top: 0rem;
   margin-left: 0rem;
   margin-right: 0rem;
   height: 23rem;
   padding: 2rem 7% 3rem 7%;

   .profile {
      background-image: url(../img/profile.jpg);
      background-repeat: no-repeat;
      background-size: 85%;
      background-position: center;
      border-radius: 50%;
      behavior: url(PIE.htc); /* remove if you don't care about IE8 */
      border: 5px solid red;
      width:20rem;
      height:20rem;
      float:none;
      margin-right: auto;
      margin-left: auto;
   }

   .profile-intro {
      position: static;
      padding-top: 2rem;
      top: 41rem;
      p {
         width:20rem;
         margin: auto;
      }
   }

   .icon {
      padding-top: 1rem;
      width: 20rem;
      margin: auto;

      a>img {
         width: 16%;
         margin: auto;
      }

      .hidden_icon {
         visibility: visible;
      }
   }

}


form {
   float:left;
   width: 40%;
   margin-right: 6%;
   visibility: hidden;
   position: absolute;

   input, textarea {
      width: 100%;
      padding: .5rem 0 .5rem 1rem;
      margin-bottom: .5rem;
   }

   #form-button {
      width: 30%;
   }

}

.icon {
   float: left;

   img {
      width: 80%;
   }

   img:hover {
      -webkit-box-shadow: 2px 4px 6px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 2px 4px 6px 0px rgba(0,0,0,0.75);
      -o-box-shadow: 2px 4px 6px 0px rgba(0,0,0,0.75);
      box-shadow: 2px 4px 6px 0px rgba(0,0,0,0.75);
   }

   img:active {
      -webkit-box-shadow: -2px -4px 4px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: -2px -4px 4px 0px rgba(0,0,0,0.75);
      -o-box-shadow: -2px -4px 4px 0px rgba(0,0,0,0.75);
      box-shadow: -2px -4px 4px 0px rgba(0,0,0,0.75);
   }
}

.profile-intro>p>a {
   font-family: "Lato",sans-serif;
   color: #b04;
}

.profile-intro>p>a:hover {
   color: red;
}

.hidden_icon {
   visibility: hidden;
}

/* FOOTER */

#footer {
   clear:both;
   right:0;
   bottom:0;
   left:0;
   margin-top: 2rem;
   background-color: #efefef;
   padding: 0.5rem 0rem 0.5rem 4.8rem;
}

/* MEDIA QUERIES */

#alt-home-button {
   visibility:visible;
   position: static;
}

#home-button, #minimize {
   visibility:hidden;
   position:absolute;
}


/*

@media screen and (min-width: 992px) {

   .grey-box-contact {
      height: 45rem;

      form {
         clear:left;
         width: 26rem;
         margin-top: 4rem;
         margin-right: 3rem;
      }

      .icon {
         margin-top: 5rem;
      }

      .profile {
         width:18rem;
         height:18rem;
      }

      .profile-intro{
         position: static;

         p {
            float: left;
            width: 45%;
            padding-right: 0;
         }
      }
   }
}
*/


@media screen and (min-width: 768px) {

   #alt-home-button, #minimize {
      visibility: visible;
      position: static;
   }

   #un-minimize, #alt-home-button, #home-button>span {
      visibility: hidden;
      position: absolute;
   }

   #masterhead {
      margin-left: 2rem;
      margin-right: 2rem;
      #home-button {
         visibility:visible;
         position:absolute;
      }
   }

   .welcome_box h1 {
     font: italic bold 70px Georgia, Serif;
   }

   #fishies_1, #fishies_2{
      animation-duration: 6s;
   }

   .flip img {
      animation-duration: 12s;
   }

   @keyframes swim1 {
      from { margin-left: -40%;}
      to { margin-left: 70%;}
   }

   @keyframes swim2 {
      from { margin-left: -60%; }
      to { margin-left: 80%;}
   }

   #fishies_1 img{
      width: 7rem;
   }

   #fishies_2 img{
      width: 12rem;
   }

   .grey-box-contact {
      height: 25rem;
      margin-left: 2rem;
      margin-right: 2rem;

      .profile-intro {
         position: static;
         top: 35rem;

         p {
            clear: both;
            width: 28rem;
         }
         p:nth-of-type(2) {
            visibility: hidden;
         }
      }

      form {
         visibility: hidden;
         position: absolute;
      }

      .icon {
         margin-top: 0rem;
         width: 20rem;

         .hidden_icon {
            visibility: visible;
         }
      }

   .nav-link a{
      padding: .3rem 0.65rem .3rem 0.65rem;
   }
}

@media screen and (min-width: 992px) {
   .grey-box-contact {
      margin-left: 4.8rem;
      margin-right: 4.8rem;

      .profile {
         width:18rem;
         height:18rem;
         float:left;
      }

      .profile-intro {
         width: 6rem;
         float: left;
         clear: left;
         p {
            width: 20rem;
         }
      }

      form {
         visibility: visible;
         width: 65%;
         margin-top: 1.8rem;
         padding-left: 25rem;
         float: left;
      }

      .icon {
         margin-top: 5rem;
         float: left;

         .hidden_icon {
            visibility: hidden;
         }
      }
   }

   #masterhead {
      margin-left: 2rem;
      margin-right: 2rem;
      #home-button {
         a, span {
            visibility: visible;
            position:relative;
         }
      }
   }

   .welcome_box h1 {
     font: italic bold 80px Georgia, Serif;
   }

   #fishies_1, #fishies_2{
      animation-duration: 7s;
      img {
         width: 14rem;
      }
   }

   .flip img {
      animation-duration: 14s;
   }
}


}
