@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

/* - - - - GENERAL - - - - */

html {
   margin:0;
   padding:0;
   font-size: 13px;
}

body {
   font-size: 13px;
   line-height: 1.4
}

#project-process, #proj-overview, #masterhead, .welcome_box{
   margin-right: 4.8rem;
}

/* - - - - TEXT - - - - */

#home-button, ul, h1, h2, h3 {
   font-family: 'Lato', sans-serif;

   #og-home-button:hover {
      background-color: rgba(#FF8E6B, 0.5);
   }
}

p {
   font-family: Garamond, serif;
   line-height: 1.3em;
}


/* - - - - NAV - - - - */

#masterhead {
   border-bottom: 2px solid;
   padding-bottom: 3rem;
   margin-top: 2rem;
   margin-left: 0rem;
   margin-right: 0rem;

   #home-button{
      float:left;
      padding-left: 2.2rem;

      #og-home-button{
         text-decoration: none;
         color: black;
         font-weight: bold;
         padding: 0.6rem 1.2rem 0.6rem 1.2rem;
      }
      #og-home-button:hover {
         background-color: rgba(#FF8E6B, 0.5);
      }
   }
}


#nav {
   padding-left: 2.1rem;
   padding-right: 2.1rem;
   float:right;

   .nav-link {
      display:inline-block;

      a {
         text-decoration: none;
         color: black;
         font-weight: bold;
         padding: 0.6rem 0.8rem 0.6rem 0.8rem;
      }
      a:hover {
         background-color: rgba(#FF8E6B, 0.5);
      }
   }

   .nav-link:hover #subnav{
      display:block;
      width: 100%;
   }
}

#alt-home-button {
   visibility: hidden;
   position: absolute;
}

#subnav {
   position: absolute;
   padding-left: 0rem;
   padding-top: .8rem;
   display:none;
   list-style: none;

   .subnav-link {
      margin-top: 1.1rem;
   }
}

.active>a {
   background-color: #FF8E6B;
}



/* - - - - HOMEPAGE - - - - */


.welcome_box h1 {
  font: italic bold 50px Georgia, Serif;
  padding-top: 5rem;
}


/*  - - - - PORTFOLIO PAGES  - - - - */

.container {
   margin-top: 2rem;
}
.pages {
   display: none;
   .margin {
      padding-bottom: 5rem;

   }
}

.grid-item:last-of-type {
    padding-bottom: 4rem;
}

.grid-item {
   margin-bottom: 3rem;
 }

.thumbnail {
   margin-bottom: 1rem;
}

/*   - - - - ABOUT ME   - - - - */

.grey-box-contact, .grey-box-contact-2 {
   background-color: #efefef;
   margin-top: 0rem;
   margin-left: 0rem;
   margin-right: 0rem;
   padding: 2rem 7% 3rem 7%;

   .profile-intro {
      position: static;
      padding-top: 3rem;
      top: 41rem;
      p {
         width:20rem;
         padding-bottom: 1rem;
         margin: auto;
      }
   }

   .icon {
      padding-top: 1rem;
      width: 20rem;
      margin: auto;

      a>img {
         width: 16%;
         margin: auto;
      }
   }
}

.profile-box{
   height:22rem;
   overflow: hidden;

   .profile1, .profile2 {
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
      behavior: url(PIE.htc); /* remove if you don't care about IE8 */
      width:18rem;
      height:18rem;
      margin-right: auto;
      margin-left: auto;
   }

   .profile1 {
      background-image: url(../img/profile1.jpg);
      background-size: 110%;
      border: 5px solid red;
      margin-top: 1rem;
   }
   .profile2 {
      background-image: url(../img/profile2.jpg);
      background-size: 120%;
      border: 5px solid darkblue;
      margin-top: 8.5rem;
      margin-bottom: 5rem;
   }
}

.grey-box-contact {
   height: 24rem;
}

.grey-box-contact-2 {
  height: 31rem;
}

form {
   width: 80%;
   margin: auto;
   margin-top: 1rem;
   margin-bottom: 2rem;
   font-size: 0.9rem;

   input, textarea {
      width: 100%;
      padding: .4rem 0 .4rem 1rem;
      margin-bottom: .5rem;
   }

   .form-button {
      width: 40%;
   }
}

.icon {
   img {
      width: 80%;
   }
}

/* FOOTER */

#footer {
   clear:both;
   right:0;
   bottom:0;
   left:0;
   margin-top: 2rem;
   background-color: #efefef;
   padding: 0.5rem 0rem 0.5rem 4.8rem;
}

/*   - - - - MEDIA QUERIES - - - - */

#alt-home-button {
   visibility:visible;
   position: static;
}

#home-button, #minimize {
   visibility:hidden;
   position:absolute;
}

/* MEDIUM SCREEN 768 */

@media screen and (min-width: 768px) {

   #alt-home-button, #minimize {
      visibility: visible;
      position: static;
   }

   #un-minimize, #alt-home-button, #home-button>span {
      visibility: hidden;
      position: absolute;
   }

   #masterhead {
      margin-left: 2rem;
      margin-right: 2rem;
      #home-button {
         visibility:visible;
         position:absolute;
      }
   }

   .welcome_box h1 {
     font: italic bold 70px Georgia, Serif;
   }

   #fishies_1, #fishies_2{
      animation-duration: 6s;
   }

   .flip img {
      animation-duration: 12s;
   }

   @keyframes swim1 {
      from { margin-left: -40%;}
      to { margin-left: 70%;}
   }

   @keyframes swim2 {
      from { margin-left: -60%; }
      to { margin-left: 80%;}
   }

   #fishies_1 img{
      width: 7rem;
   }

   #fishies_2 img{
      width: 12rem;
   }

.grey-box-contact, .grey-box-contact-2 {
   margin-left: 2rem;
   margin-right: 2rem;
   padding-left: 0rem;

   .profile-intro {
      position: static;
      top: 35rem;
      p {
         width: 23rem;
      }
   }

   form {
      width: 30rem;
   }

   .icon {
      margin-top: 0rem;
      width: 20rem;
   }

   .nav-link a{
      padding: .3rem 0.65rem .3rem 0.65rem;
   }
}

}


/* BIG SCREEN 992 */

@media screen and (min-width: 992px) {

   p {
      font-size: 14px;
   }

   .grey-box-contact, .grey-box-contact-2 {
      margin-left: 4.8rem;
      margin-right: 4.8rem;

      .profile {
         width:18rem;
         height:18rem;
         float:left;
         margin-left: 12rem;
      }

      .profile-intro {
         float: left;
         margin-left: 5rem;
      }

      form {
         width: 20.6rem;
         margin-left: 8rem;
         float: left;
      }

      .icon {
         float: left;
      }
   }

   .grey-box-contact {
      height: 26rem;
   }

   #masterhead {
      margin-left: 2rem;
      margin-right: 2rem;
      #home-button {
         a, span {
            visibility: visible;
            position:relative;
         }
      }
   }

   .welcome_box h1 {
     font: italic bold 80px Georgia, Serif;
   }

   .profile-box {
      float: left;
      padding-left: 8rem;
      overflow: visible;
   }
   .profile-intro >div {
      padding-bottom: 7rem;
   }
}
