/* IMPORT */

@font-face {
	font-family: 'Moon Bold';
	src: url("fonts/MoonBold.otf") format("opentype"); }

@font-face {
	font-family: 'Moon Light';
	src: url("fonts/MoonLight.otf") format("opentype"); }

@font-face {
	font-family: 'Avenir Next Condensed Medium';
	src: url("fonts/AvenirNextCondensedMedium.ttf") format("truetype"); }

@font-face {
	font-family: 'Avenir Next Bold';
	src: url("fonts/AvenirNextBold.otf") format("opentype"); }

@font-face {
	font-family: 'Avenir Next Demi';
	src: url("fonts/AvenirNextDemi.ttf") format("truetype"); }

@font-face {
	font-family: 'Avenir Next Regular';
	src: url("fonts/AvenirNextRegular.otf") format("opentype"); }

body {
	margin: 0; }


.page {
	position: relative;
	min-height: calc(100vh - 2rem);
	border-left: 14px solid white;
	border-right: 14px solid white;
	border-top: 7px solid white;
	border-bottom: 7px solid white;
	background-color: #f6f6f6; }

.page:first-of-type { border-top: 14px solid white; }
.page:last-of-type { border-bottom: 14px solid white; }

.wrapper {
	margin-top: 18vh;
	margin-left: 2rem;
	margin-bottom: 8vh;
}

.image_page .wrapper {
	margin-left: 21vw;
	margin-right: 11vw;
}

.piece_page .wrapper {
	margin-top: 28vh;
}

/* TEXT (landing) */

h1 {padding-top: 12vh; 
	width: 9rem;
	font: 2rem 'Avenir Next Bold', sans-serif;
	color: black;
	text-align: left; }

.description p {
	margin:0;
	padding-bottom: .5rem;
	width: 8rem;
	font: 8.5px 'Avenir Next Regular', sans-serif;
	line-height: .7rem;
	clear: both; }

/* TEXT (portfolio) */
h2 { 
	font: 1.6rem 'Avenir Next Bold', sans-serif;
	letter-spacing: 2px;
	margin-bottom: 7rem; }

h3 {
	font: .9rem 'Moon Light', sans-serif;
	color: #0093A3;
	letter-spacing: 1.2px;
	padding-bottom: 2rem;
	height: 1rem; }

.ti-cursor { padding-right: 4px; }

h4 {
	font: 1rem 'Avenir Next Demi', sans-serif;
	color: #0093A3;
	line-height: 1.3rem;
	margin-top: 1rem; }

h3 > span { float: left; }

#TypeIt { clear: left; }

.bold { font-family: "Moon Bold"; }


/* TEXT (piece pages) */

.piece_description p {
	width: 8rem;
	font-size: 8.5px;
	line-height: .65rem; }

.col-sm p, .image_page p {
	font: 0.5rem 'Avenir Next Condensed Medium';
	text-transform: uppercase;
	margin: .2rem 0; }


/* GRADIENTS */

#landing {

}

#portfolio {
	
}

#art-craft {

}

#about {
	
}

@media (min-width: 500px) {

	.wrapper { 	margin-right: 8vw; }

	h1 {font-size: 2.5rem;
		width: auto; }

	h2 { font-size: 2.2rem; }

	h3 {font-size: 1.2rem;
		letter-spacing: 2px;
		padding-bottom: 2rem; }

	.description p, .piece_description p {
		width: 13rem;
		font-size: 10px;
		line-height: .8rem; }
}


@media (min-width: 768px) {

	.wrapper { margin-left: 3.5rem; }

	.page { min-height: calc(100vh - 1.6rem); }

	.col-md {
	    -ms-flex-preferred-size: 0;
	    flex-basis: 0;
	    -webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	    flex-grow: 1;
	    max-width: 100%; }

	.description {margin-left: 12vw; }

	h1 { font-size: 3rem;
		width: 23rem;
		margin: 10vh 0 12vh 8vw;}

	h2 {font-size: 3rem; letter-spacing: 2px; }

	.description p, .piece_description p {
		width: 17.5rem;
		font-size: 12px;
		line-height: 1.1rem; }

	h4 {
		font-size: 1rem;
		line-height: 1.3rem; }

	h3 { padding-bottom: .5rem; }

	h3 > span { float: none; }

	.col-sm p {
		font-size: 0.6rem; }
}

@media (min-width: 992px) {
	.description {margin-left: 23vw; }

	h4 {
		font-size: 1.2rem;
		line-height: 1.6rem;}
}

@media (min-width: 1200px) {
	h1 {font-size: 4.5rem; 
		padding-top: 3vh;
		margin-left:19vw; }

}

/* _____________________________________________*/

/* NAVIGATION */

#navigation {
	position: fixed;
	border-top: 14px solid white;
	border-right: 14px solid white;
	border-left: 14px solid white;
	height: 0;
	top:0;
	right:0;
	left:0;
	z-index: 3; }

.toggle {
	display: none;
	height: 0; }

.nav-link {
    list-style: none;
    clear: both;
    float: right;
    padding: .3rem 0;
    font: .6rem 'Moon Light', sans-serif;
	letter-spacing: 1px;
    width: 6rem; }

.nav-link a {
	position: relative;
    text-decoration: none;
    color: black;
	padding: .3rem 0;}

.toggle-nav {
	position: fixed;
	padding-right: .5rem;
	font: 3rem 'Moon Light', sans-serif;
	top: 1.7rem;
	right: 1.5rem;
	text-decoration: none;
    color: black;
    display: block; }

.hyperlink {
	font: .9rem 'Avenir Next Medium', sans-serif; }

#nav-left, #nav-right {
	margin: 0; }

.target {
	float: right;
	padding: 1rem 4rem 1rem calc(100vw - 14rem);
	height: 6rem;
	width: 8rem;
	background-color: #f6f6f6; }

.nav-link .exit_back {
	font-size: 3rem;
	padding: 0; }

.backto {
	width: 6rem;
	line-height: .9rem;
	font-size: .5rem;
	padding-top: .5rem;
	opacity: 0;}

.plus {
	height: 3rem;
	width: 1.5rem; }

#nav-plus > .nav-link {
	float: left;
}

/* NAV ANIMATIONS */

.nav-link * {
	-webkit-transition: all 0.3s;
	 -moz-transition: all 0.3s;
    -o-transform: all 0.3s;
    -ms-transform: all 0.3s;
	 transition: all 0.3s;
}

.nav-link span, .span {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	height: 3px;
	background: red;
	transition: all .3s;
}

.nav-link a:hover span {
	width: 100% !important;
}

.nav-link a:hover .span {
	width: 22px;
}

.nav-link:hover .plus {
	transform: rotate(45deg); }

.nav-link:hover .backto {
	opacity: 1;
}

.rotation {
	-webkit-transition: all 0.3s;
	 -moz-transition: all 0.3s;
    -o-transform: all 0.3s;
    -ms-transform: all 0.3s;
	 transition: all 0.3s;
	transform: rotate(45deg); }

/* SOCIAL MEDIA */

#social-media {
	position: fixed;
	transform: rotate(90deg);
	width: 270px;
	height: 270px;
	right: 18px;
	top: 30vh;
	z-index: 3; }

.social-icon {
    font: .6rem 'Moon Regular', sans-serif;
    text-decoration: none;
    padding: .5rem;
    color: #0093A3;
	letter-spacing: 1px; }

.line {
	float: left;
	clear: both;
	width: 1rem;
	height: 4px;
	background-color: black;
	margin: .3rem 0; }


@media (min-width: 500px) {

	.nav-link {
		padding: .8rem .8rem;
		background-color: none;
		width: auto;
		float: left;
		clear: none;
		display: inline-block; }

	.toggle {
		float: right;
		margin: 0;
		width: 25rem;
		background-color: #f6f6f6;
		height: 2.5rem;
		padding: 1.2rem 1.2rem 0rem calc(100vw - 28rem);
	}

	.social-icon img {
		width: 1.3rem;
		padding: .2rem 0; }
}

@media (min-width: 768px) {

	.toggle-nav { display:none; }

	.target { display:block !important; }

	#navigation {
		position: fixed;
		height: 4rem;
		top:0;
		right: 0;
		left: 0;
		background-color: #f6f6f6;
		z-index: 3; }

	.nav-link {
		padding: 0 1.8rem;
		clear: none;
		width: auto;
		float: left; }

	.nav-link a {
		padding: .7rem 0;
	}
	
	.target {
		float: none;
		width: auto;
		height: auto;
		padding: 0;
	}

	#navigation ul {
	margin: 0;
	padding: 2rem 1rem 0 1rem; }

	#navigation #nav-right {
		float: right;
		padding-right: 2rem; }

	#navigation #nav-left {
		float: left;
		padding-left: 2rem; }

	#social-media { right: 22px; }

	.line {
		width: 1.3rem;
		margin: .5rem 0; }
	}

/* ABOUT */

.profile_pic {
	margin: 2rem 2rem 5rem 0;
	width: 10rem;
	border: 6px solid white; }

.profile_text, .profile_pic {
	display: inline-block;
}
/* __________________________________________________________*/

/* LAYOUT / GRID */

.grid-item > img {
	width: 99%;
	padding-bottom: 1.5rem; }

.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-bottom: .5rem;}

.col-sm, .col-md, .col-lg, .col-xl {
	position: relative;
	width: 100%;
	min-height: 1px; }

.col-ad { padding-left: 1rem; }

.thumbnail img {
	width: calc(100% - 5rem);
	border: 6px solid white; }

.thumbnail img:hover {
	position: relative;
	transform: scale(.96);
	z-index: 30;
	-webkit-transition: all 0.5s;
	 -moz-transition: all 0.5s;
	 transition: all 0.5s; }
.thumbnail img:active {
	transform: scale(1.2);
}


@media (min-width: 500px) {

	.thumbnail img {
		width: calc(100% - 2rem); }

    .container {
	  	max-width: 585px;
	  	width: 92%; }

    .row h4 { max-width: 5rem;
  		padding-right: 2rem; }

    .col-sm {
	    -ms-flex-preferred-size: 0;
	    flex-basis: 0;
	    -webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	    flex-grow: 1;
	    max-width: 100%; }

}

@media (min-width: 768px) {

	.thumbnail img {
		border-width: 10px; }

    .container {
	  	max-width: 850px;
	    width: 86%; }

    .col-md {
	    -ms-flex-preferred-size: 0;
	    flex-basis: 0;
	    -webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	    flex-grow: 1;
	    max-width: 100%; }

    .row h4 { max-width: 9rem;
  		padding-right: 1rem; }
}

@media (min-width: 992px) {

	.row h4 { padding-right: 4rem; }

	.col-lg {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%; }
}

@media (min-width: 1200px) {
	.container {max-width: 1120px;}

	.profile_pic {
		width: 15rem;
	}

	.col-xl {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%; }
}

/* PIECE PAGES */

.piece_page {
	position: fixed;
	height: calc(100vh - 1.6rem);
	width: calc(100vw - 1.75rem);
	background-color: #f6f6f6;}

.piece_header h2 { margin: 0; }

.piece_description {
	margin-top: 4rem; }

.piece_description > div > h4 { margin-top: 0rem; }

.piece_description > div { float: left; }

.piece_description p {
	float: left;
	margin-top: 0rem;
	padding-right: .5rem; }

/* (image_page) */
.image_page {
	opacity:0;
	padding-top: 40vh;
	position: relative;
	z-index: 1;}

/* (piece and image page animations) */

.piece_page * {
	 -webkit-transition: all 0.5s;
	 -moz-transition: all 0.5s;
	 transition: all 0.5s; }

.image_page {
	 -webkit-transition: all .8s;
	 -moz-transition: all .8s;
	 transition: all .8s; }

.shrink .piece_header {
	width: 380px;
	height: 380px;
	white-space: nowrap;
	transform: rotate(-90deg);
	}

.shrink .piece_header h2 { font-size:1.6rem; }

.shrink .piece_description {
	height: 0;
	margin: 0;
	width: 16rem;
	white-space: normal;}

.shrink .piece_description p {
	opacity: 0;
	font-size: 0; }

.shrink {
	opacity: 1;
}


/* ________ individual adjustments ________ */

.icons_1 > img { width: 10rem; }
.icons_1 > img { width: 15rem; }


@media (min-width: 768px) {
 	.image-page {
 		padding-left: 28vw;
 	}
}
