/* IMPORT */

@font-face {
	font-family: 'Moon Bold';
	src: url("fonts/MoonBold.otf") format("opentype"); }

@font-face {
	font-family: 'Moon Light';
	src: url("fonts/MoonLight.otf") format("opentype"); }

@font-face {
	font-family: 'Avenir Next Condensed Medium';
	src: url("fonts/AvenirNextCondensedMedium.ttf") format("truetype"); }

@font-face {
	font-family: 'Avenir Next Bold';
	src: url("fonts/AvenirNextBold.otf") format("opentype"); }

@font-face {
	font-family: 'Avenir Next Medium';
	src: url("fonts/AvenirNextMedium.otf") format("opentype"); }

body {
	margin: 0; }


.page {
	margin: 1rem;
	padding: 2rem 0 2rem 2rem;
	background-color: #f6f6f6;
	right: 0rem;
	left: 0rem; }

/* TEXT */


h1 {
	width: 9rem;
	font: 1.5rem 'Avenir Next Bold', sans-serif;
	color: black;
	padding-top: 3rem;
	text-align: left; }

.description {
	padding-bottom: 5rem; }

.description p {
	width: 8rem;
	font-size: 8.5px;
	line-height: .65rem; }

h2 {
	font: 1.2rem 'Moon Bold', sans-serif;
	color: #0093A3;
	letter-spacing: 2px;
	padding-right: 3rem; }


h3 {
	font: .9rem 'Moon Light', sans-serif;
	color: #0093A3;
	letter-spacing: 1.2px;
	padding-right: 3rem; }


h4 {
  font: .7rem 'Avenir Next Bold', sans-serif;
  line-height: 1rem;
  margin-bottom: .4rem; }

.col-sm p, .piece_image > p {
	font: 0.5rem 'Avenir Next Condensed Medium';
	text-transform: uppercase;
	margin: .2rem 0; }

/* GRADIENTS */



#landing {

}

#portfolio {
	
}

#art-craft {

}

#about {
	
}

@media (min-width: 576px) {

	.page { padding: 2rem 0 2rem 4rem; }

	h1 {font-size: 2rem; }

	h3 {font-size: 1.3rem;
		letter-spacing: 2px; }

	.description p {
		width: 13rem;
		font-size: 10px;
		line-height: .8rem; }
}


@media (min-width: 768px) {

  .container { max-width: 720px;}

	.page { padding: 2rem 0 4rem 6rem; }

	.page:first-of-type {
    margin-top: 4.5rem; }

  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }

	.description {margin-left: 18vw; }

	h1 {
		width: 23rem;
		margin-left: 12vw;}

	h2 {font-size: 2rem; letter-spacing: 2px; }

	.description p {
		width: 17.5rem;
		font-size: .85rem;
		line-height: 1.1rem; }

	h4 {
		font-size: .9rem;
		line-height: 1.3rem; }

	.col-sm p {
		font-size: 0.6rem; }
}

/* _____________________________________________*/

/* NAVIGATION */

#navigation {
	position: fixed;
	border-top: 1rem solid white;
	border-right: 1rem solid white;
	border-left: 1rem solid white;
	top:0;
	right:0;
	left:0;
	padding: 1rem;
	background-color: #f6f6f6;
	z-index: 3; }

#navigation .toggle {
	display: none; }

#navigation ul {
	margin: 0;
	padding: 0rem 1rem; }

.nav-link {
    list-style: none;
    clear: both;
    padding: .15rem 0;
    font: .5rem 'Moon Light', sans-serif;
	letter-spacing: 1px;
    width: 8.5rem;
    float: right; }

.nav-link a {
    text-decoration: none;
    color: black; }

.toggle-nav {
	position: fixed;
	padding: .5rem .7rem;
	border-radius: 3px;
	font-size: 1rem;
	top: 2rem;
	right: 2rem;
	text-decoration: none;
    color: black;
    background-color: #ebebeb;
    display: block; }

.hyperlink {
	font: .9rem 'Avenir Next Medium', sans-serif;
}

/* NAV ANIMATIONS */

.nav-link a::after {
	display: block;
    content: '';
    width: 0;
    height: 3px;
    background: red;
    transition: width .3s;
	margin: .25rem 0; }

.nav-link a:hover::after {
    width: 100%; }


/* SOCIAL MEDIA */

#social-media {
	position: fixed;
	right: 1.5rem;
	top: 35vh;
	z-index: 3; }

.social-icon img {
	float: left;
	clear: both;
	width: 1rem;
	padding: .1rem 0; }

.line {
	float: left;
	clear: both;
	width: 1rem;
	height: 4px;
	background-color: black;
	margin: .3rem 0; }

@media (min-width: 576px) {

	.nav-link {
	    width: 10rem;
	    float: right; }
}

@media (min-width: 768px) {

	.toggle-nav { display:none; }

	.target { display:block !important; }

	#navigation {
		position: fixed;
		padding-top: 1rem;
		top:0;
		right: 0;
		left: 0;
		background-color: #f6f6f6;
		z-index: 3; }

	#nav-right {
		float: right;
		padding-right: 2.8rem; }

	#nav-left {
		float: left;
		padding-left: 2.8rem; }

	.nav-link {
		padding: .8rem 1.8rem 0rem 1.8rem;
		clear: none;
		width: auto;
		float: left; }

	#social-media {
		right: 2.6rem; }

	.social-icon img {
		width: 1.4rem;
		padding: .2rem 0; }

	.line {
		width: 1.3rem;
		margin: .5rem 0; }
	}

/* __________________________________________________________*/

/* LAYOUT / GRID */

.thumbnail img {
	width: calc(100% - 5rem);
	border: 6px solid white; }

.container {
	max-width: 400px;
	width: 100%; }

.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap; }

.col-sm, .col-md, .col-lg, .col-xl {
	position: relative;
	width: 100%;
	min-height: 1px; }

@media (min-width: 576px) {

	.thumbnail img {
		width: calc(100% - 2rem);
		border-width: 10px; }

    .container {
	  	max-width: 585px;
	  	width: 92%; }

    .row h4 { max-width: 5rem;
  		padding-right: 2rem; }

    .col-sm {
	    -ms-flex-preferred-size: 0;
	    flex-basis: 0;
	    -webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	    flex-grow: 1;
	    max-width: 100%; }

}

@media (min-width: 768px) {
    .container {
	  	max-width: 810px;
	    width: 86%; }

    .col-md {
	    -ms-flex-preferred-size: 0;
	    flex-basis: 0;
	    -webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	    flex-grow: 1;
	    max-width: 100%; }

    .row h4 { max-width: 9rem;
  		padding-right: 1rem; }
}

@media (min-width: 992px) {
	.container {max-width: 960px;}

	.col-lg {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%; }
}

@media (min-width: 1200px) {
	.container {max-width: 1140px;}

	.col-xl {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%; }
}

/* PORTFOLIO PIECE */

/* ________ section spacing ________ */
.piece_page {
	right: 0rem;
	left: 0rem;
	position: fixed;
	padding-bottom: 2rem;
	z-index: 2; }

.piece_header h2 { margin: 0; }

.piece_header h4 { margin-top: 1rem; }

.piece_header, .piece_description {
	float: left;
	margin-top: 1rem; }

.piece_description { padding-right: 3rem; }

.piece_description > div > h4 { margin-top: 0rem; }

.piece_description > div { float: left; }

.piece_description p {
	width: 17rem;
	font-size: 12.8px;
	line-height: 1rem;
	float: left;
	margin-top: 0rem;
	padding-right: .5rem; }

.image_page {
	right: 0rem;
	left: 0rem;
	border-top: 1rem solid white;
	position: relative;
	z-index: 1; }

.piece_image {
	padding: 0 0.8rem 2.5rem 0; }

.piece_image img {
	height: 100%;
	padding-right: .5rem;}

/* ________ individual pages spacing ________ */

/*.eon, .peony, .jenson, .icons {top: 21rem; }
.walsh, .cartoon {top: 22rem;}
.df_art { top:20rem; }
.glad, .bobbi {top: 17.2rem; }*/

#eon .piece_image {
	height: 19rem;
}

#peony .piece_image, #jenson .piece_image, #walsh .piece_image, .cartoon2 {
	height: 25rem; }

.cartoon1 { height: 35rem; }

.cartoon3 { height: 15.5rem; }

.icons1 {
	padding-bottom: 1.2rem;
}

.icons1 > img{
	height: 10rem;
	padding-bottom: .2rem; }

.icons2 { height: 20rem; }

.art1 > img { height: 12rem; }

.art2 >img { height: 16rem; }

.t_play1 > img, .t_play2 > img, .t_play3 > img { height: 18rem; }



/* ________ media queries ________ */

/*@media (min-width: 900px) {
	.eon, .peony, .jenson, .icons {top: 21.1rem; }
	.walsh, .cartoon {top: 22.2rem;}
	.glad, .bobbi {top: 17.2rem; }
	.df_art { top:17rem; }
}

@media (min-width: 1335px) {
	.eon, .peony, .jenson, .icons {top: 15.2rem; }
	.walsh, .cartoon {top: 16.3rem;}
	.glad, .bobbi {top: 17.2rem; }
}
*/
